[core]
    autocrlf = input
    editor = vim
    excludesfile = ~/.gitignore_global
    whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol
[color]
    ui = auto
[diff]
    tool = vscode
[difftool "vscode"]
    cmd = "code --wait --diff $LOCAL $REMOTE"
[log]
    # Use abbrev SHAs whenever possible/relevant instead of full 40 chars
    abbrevCommit = true
[pull]
    rebase = true
[alias]
  # List available aliases
  aliases = !git config --get-regexp alias | sed -re 's/alias\\.(\\S*)\\s(.*)$/\\1 = \\2/g'
  gl = config --global -l         # list all configurations

  # Information
  st = status -sb         # short status
  ll = log --oneline      # short log
  l = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=short

  # Navigation
  b = branch
  co = checkout
  sw = switch

  # Commit
  a = add
  c = commit --verbose
  ca = commit -a --verbose
  cm = commit -m
  cam = commit -a -m

  # Fixing
  rt = restore
  fix = commit --amend --verbose
  afix = commit -a --amend --verbose
  # Undo last commit but keep changed files in stage
  uncommit = reset --soft HEAD~1
  rei = rebase -i
  reiall = rebase -i --root
  cont = rebase --continue