[user]
    name = Jianing Xu
    email = 58917306+jianingxu1@users.noreply.github.com
[core]
    autocrlf = input                       # Configures safe handling of line endings (use 'true' on Windows).
    editor = vim                           # Sets the default text editor for commit messages, merges, and rebase.
    excludesfile = ~/.gitignore_global     # Specifies a global file for ignoring common files across all repos (e.g., OS-specific files).
    whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol 
                                           # Configures Git to warn/fix common whitespace issues upon commit.
    untrackedCache = true                  # Speeds up 'git status' by caching information about untracked files in the index.
    fsmonitor = true                       # Massively speeds up 'git status' by using a background process to monitor file system changes.
    commitGraph = true                     # Enables Git to use the binary Commit Graph file for faster history commands like 'git log --graph' and 'git blame'.
    pager = less -FX                       # Uses 'less' as a pager, quitting automatically if output fits on one screen.
[color]
    ui = auto                              # Enables colorful output for all color-supporting Git commands.
[diff]
    tool = vscode
[difftool "vscode"]
    cmd = "code --wait --diff $LOCAL $REMOTE"
[fetch]
    writeCommitGraph = true                # Ensures the commit-graph file is updated automatically after every 'git fetch' or 'git pull'.
[log]
    abbrevCommit = true                    # Use abbrev SHAs whenever possible/relevant instead of full 40 chars.
[pull]
    rebase = true                          # Default behavior for 'git pull' becomes rebase, ensuring a linear history.
[alias]
    # List available aliases
    aliases = !git config --get-regexp alias | sed -re 's/alias\\.(\\S*)\\s(.*)$/\\1 = \\2/g'
    gl = config --global -l         # list all configurations

    # Information
    st = status --short --branch         # short status
    l = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=short # short log

    # Navigation
    b = branch
    co = checkout
    sw = switch

    # Commit
    a = add
    c = commit --verbose
    ca = commit --all --verbose
    cm = commit --message
    cam = commit --all --message

    # Fixing
    rt = restore
    fix = commit --amend --verbose

    # Undo last commit but keep changed files in stage
    uncommit = reset --soft HEAD~1
    rei = rebase -i
    reiall = rebase -i --root
    cont = rebase --continue
